/* Import Matugen Colors */
@import "../../.cache/matugen/colors-waybar.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    font-weight: bold;

    border: none;
    border-radius: 0;
    min-height: 0;
}


window#waybar {
    background-color: transparent; 
}


#clock,
#workspaces,
#custom-weather,
#tray,
#system,
#group-system {
    
    background-color: @glass_background; 
    
    border-radius: 6px;
    padding: 4px 8px; 
    margin: 0 4px;
}

/* --- CLOCK --- */
#clock {
    padding: 4px 15px;
}

/* --- WORKSPACES --- */
#workspaces {
    padding: 0 4px; 
}

#workspaces button {
    padding: 0 5px;
    min-width: 20px;
    border-radius: 4px;
    margin: 4px 2px;
    color: @foreground;
    background-color: transparent;
    transition: all 0.4s cubic-bezier(0.36, 1.63, 0.65, 1.0);
}

#workspaces button.active {
    background-color: @primary;
    color: @active_text_color;
    
    min-width: 40px; 
    padding: 0 10px;

}

#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

#workspaces button.active:hover {
    background-color: shade(@primary, 1.2);

}

/* --- SYSTEM CONTROL GROUP --- */
#network, #pulseaudio, #backlight, #battery, #bluetooth, #custom-notification {
    background: transparent;
    padding: 0 10px;
    margin: 0;
    box-shadow: none;
    
    /* Ensure icons are evenly spaced */
    min-width: 24px;

    /*border-right: 1px solid rgba(255, 255, 255, 0.15); */
}

/* --- STATUS COLORS --- */
#battery.charging { color: #a6e3a1; }
#battery.critical:not(.charging) { color: @error; }

tooltip {
    background: @glass_background;
    border: 1px solid @primary;
    border-radius: 12px;
}

tooltip label {
    color: @foreground;
}